<svg class="app-mark" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
    <rect class="app-mark-plate" x="2.5" y="2.5" width="27" height="27" rx="7"></rect>
    <rect class="app-mark-cell" x="7" y="8" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-cell" x="12.6" y="8" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-cell" x="7" y="13.9" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-cell" x="12.6" y="13.9" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-cell" x="7" y="19.8" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-cell" x="12.6" y="19.8" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-bar" x="20.4" y="7.5" width="1.2" height="17" rx="0.6"></rect>
    <rect class="app-mark-aug" x="23.2" y="8" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-aug" x="23.2" y="13.9" width="4.2" height="4.2" rx="0.7"></rect>
    <rect class="app-mark-aug" x="23.2" y="19.8" width="4.2" height="4.2" rx="0.7"></rect>
</svg>
